# AI LLM 配置
# API Key
LLM_API_KEY=your-api-key-here

# API 基础地址
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# 对话模型
LLM_MODEL=qwen-turbo

# Embedding 模型
EMBEDDING_MODEL=text-embedding-v3
